streamlit
transformers==4.41.2
huggingface-hub==0.23.4
torch
spacy
PyPDF2
sentencepiece
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl